/* Headline Section */
.about-headline {
  background: url('./images/hero-bg-reverse.png');
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #d6d6d6;
  padding: 20px;
  overflow: hidden;
}

.headline-block {
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 70px;
  gap: 10px;
}

.headline-title {
  font-size: 2.5rem;
  font-weight: 900;
  color: #ec5242;
  margin: 20px 0;
  padding: 20px;
}

.headline-details {
  background: #fff;
  color: #272a31;
  padding: 25px;
  max-width: 100%;
}

address {
  text-decoration: underline;
}

/* About Logo */
.about-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 25px;
  background: #fff;
  flex-direction: column;
  border-bottom: 1px solid #d6d6d6;
}

.logo-block {
  max-width: 800px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
}

.logo-block .program-title {
  color: #272a31;
}

.logo-img {
  padding: 35px;
  border: 1px solid #d6d6d6;
  margin-bottom: 25px;
}

.logo-img img {
  width: 100%;
  max-width: 500px;
}

/* Past Section */

.about-past {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #fff;
  padding: 30px 20px;
}

.about-past .program-title {
  color: #272a31;
}

.about-past-details {
  margin: 20px 0;
  padding: 15px;
}

.past-item-group {
  display: flex;
  flex-direction: column;
  max-width: 800px;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.past-item {
  overflow: hidden;
  border-radius: 10px;
  padding: 15px;
  gap: 25px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 5px 10px rgba(88, 88, 88, 0.5);
}

.student-img {
  position: relative;
}

.student-img img {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.student-bootcamp {
  transform: translateX(100%);
  position: absolute;
  z-index: -1;
  text-align: center;
  left: 0;
  bottom: 3px;
  width: 100%;
  height: 60px;
  padding: 5%;
  font-size: 1.2rem;
  font-weight: 700;
  color: #fff;
  background: rgba(236, 82, 66, 0.7);
  opacity: 0;
  transition: all 0.2s ease-in-out;
}

.past-item:hover .student-bootcamp {
  transform: translateX(0);
  z-index: 99;
  opacity: 1;
}

.past-item:hover {
  background: #fdbeb7;
}

.sudent-name {
  margin: 10px 0;
}

.footer {
  background: #272a31;
  color: #d6d6d6;
}

@media screen and (min-width: 768px) {
  .headline-block {
    max-width: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 70px;
    gap: 10px;
  }

  .past-item-group {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .past-item {
    max-width: 47%;
  }
}
